@import url(variables.css);

*{
    font-family: var(--font-poppins);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    background: radial-gradient(circle at 0% 0%, #000123, #5f4769, #7d8a9f);
    padding-bottom: 60px;
}

/*Navbar*/
.navbar{
    padding: 3rem 3.5rem;
    font-weight: 500;
}

.navbar-nav{
    gap: 20px;
}

.nav-link{
    color: var(--color-4);
    transition: all 0.1s ease-in-out;
}

.nav-link:hover{
    color: #eeddf0;
}

/*Titulo*/
.titulo{
    font-size: 3vw;
    font-family: var(--font-orbitron);
    font-weight: bold;
    text-align: center;
    color: var(--color-4);
    margin-bottom: 50px;
}

.titulo span{
    color: var(--color-2);
    font-family: var(--font-orbitron);
}

/*Card*/
.card {
    --bs-card-border-color: none;
    --bs-card-spacer-x: 3rem;
    background: radial-gradient(circle at 0% 0%, #8511ba, #bd85d4, #9b48bd);
    color: var(--color-4);
    margin-bottom: 60px !important;
}

.card-body{
    width: 60% !important;
}

.card-img-top{
    min-width: 40%;
    height: 350px;
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: 0px;
}

.card-title{
    font-family: var(--font-orbitron);
    text-align: left;
}

.card-title span{
    font-family: var(--font-orbitron);
    color: var(--color-2);
}

.card-text{
    text-align: left;
    margin-bottom: 4rem;
}

.card-text span{
    color: var(--color-2);
}

.btn-card{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-family: var(--font-orbitron);
    color: var(--color-4);
    background-color: var(--color-2);
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
    font-weight: 600;
    line-height: 0;
}

.btn-card:hover{
    background-color: #43fb8a;
}



/*Contacto*/
.contacto{
    position: relative;
    overflow: hidden; 
    background: url('../Imagenes/contacto_backgaond.png');
    color: var(--color-4);
    padding: 3.5rem 5.5rem 4rem;
    z-index: 1;
}

.titulos-con{
    width: 100%;
    position: relative;
}

.titulo-con{
    font-size: 4.5vw;
    font-family: var(--font-orbitron);
    font-weight: bold;
    line-height: 60px;
}

.titulo-con span{
    color: var(--color-2);
    font-family: var(--font-orbitron);
}

.info-contacto{
    position: relative; 
    display: flex;
    flex-direction: column;
    gap: 540px;
    margin-top: 200px;
    align-items: flex-end;
    margin-right: 100px;
}

.info-c{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.titulo2-con{
    margin-bottom: 6px;
    font-family: var(--font-jetbrains);
    font-weight: bold;
    font-size: 23px;
    color: var(--color-2);
}

.desc-con{
    font-weight: 400;
    font-size: 20px;
}

.redes{
    display: flex;
    gap: 17px;
}

/*Responsive*/
@media screen and (max-width: 800px) {
    .navbar-brand img{
        width: 150px;
    }
    
    .navbar-collapse{
        margin-top: 15px;
    }

    .navbar-toggler{
        border: none;
    }

    .navbar-toggler svg{
        color: var(--color-4);
    }

    .carousel-inner {
        padding: 3em 20px 4em;
    }

    .card-body{
        padding: var(--bs-card-spacer-y) 0px;
    }

    .card-img-top{
        border-top-left-radius: var(--bs-card-inner-border-radius);
        border-bottom-left-radius: 0px;
        border-top-right-radius: var(--bs-card-inner-border-radius);
    }

    .card-title{
        margin-left: 0px;
    }

    .card-text{
        margin: 0 5px 30px;
    }

    .btn-card{
        width: 110px;
        height: 25px;
        font-size: 10px;
    }

    .flex-row{
        flex-direction: column !important;
    }

    .contacto {
        padding: 3rem;
    }

    .titulo-con{
        font-size: 7vw;
    }
    
    .info-contacto{
        align-items: flex-start;
    }
}